:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

  color: rgba(14, 14, 14, 0.87);
  background-color: #f3f3f3;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: #808080;
  text-decoration: inherit;
  display: block;
  padding: 8px;
}
a:hover {
  color: #575757;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-top: 1%;
}

.navLeft {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.logoName {
  font-weight: 500;
  color: #1f1f1f;
  text-decoration: inherit;
  display: block;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 5%;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.userProfilePicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sectionSearchBar {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  position: relative;
}

.containerTitle {
  height: 30%;
  width: 100%;
}

.smallTitle {
  font-size: 13px;
}

.company {
  font-weight: bold;
  color: #7c3aed;
}

.containerSearchBars {
  display: flex;
  height: 3.5rem;
  width: 100%;
  margin-top: 2%;
}

.containerJobSearchBar {
  width: 40%;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 1%;
}

.searchInput {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
}

.containerCountrySearchBar {
  width: 60%;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 1%;
  margin-left: 0.1%;
}

.clearButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #5f5f5f;
  margin-right: 0.3rem;
  padding: 0.7rem;
  border-radius: 0.5rem; 
}
.clearButton:hover {
  background-color: #c5c5c5;
}

.searchButton {
  background-color: #7c3aed;
  border: none;
  border-radius: 0.5rem; 
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
  padding: 0.7rem;
  margin-right: 0.5rem;
}

.containerFilters {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  margin-top: 0.1%;
  background-color: white;
}

.containerIndividualFilters {
  margin-left: 1%;
}

.dropdownToggle {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  justify-content: center;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  width: 18rem;
  top: 100%;
  margin-top: 0.25rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdownTitle {
  display: inline-block;
  width: 50%;
}

.dropdownClearButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #5f5f5f;
  margin-left: 27%;
  padding: 0.7rem;
  border-radius: 0.5rem; 
}
.dropdownClearButton:hover {
  background-color: #c5c5c5;
}

.containerDropdownSearch {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #808080;
  border-radius: 0.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.dropdownSearchInput {
  padding: 2%;
  outline: none;
  border: none;
}

.dropdownSelectedCompanies {
  display: flex;
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
  align-items: center;
}

.dropdownItem {
  display: flex;
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
  align-items: center;
}

.companyLogo {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.dropdownselectedSalaryRange{
  display: flex;
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
  align-items: center;
}

.dropdownSelectedRange{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
  align-items: center;
}

.custom-select-wrapper {
  display: inline-block;
  position: relative;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #808080;
  border-radius: 0.4rem;
  padding: 0.5rem 2rem 0.5rem 0.6rem;
  font-size: 0.9rem;
  font-family: sans-serif;
  cursor: pointer;
  width: 250px;
}

.custom-select-wrapper::after {
  content: '▼';
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}

.dropdownSelectAllButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #5f5f5f;
  margin-left: 20%;
  padding: 0.7rem;
  border-radius: 0.5rem; 
}
.dropdownSelectAllButton:hover {
  background-color: #c5c5c5;
}

.clearAllFiltersButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #5f5f5f;
  margin-right: 0.5rem;
  margin-left: auto;
  padding: 0.7rem;
  border-radius: 0.5rem; 
}
.clearAllFiltersButton:hover {
  background-color: #c5c5c5;
}

.containerJobsSection {
  display: flex;
  width: 100%;
  min-height: 60vh;
  height: auto;
  margin-top: 4%;
  background-color: white;
  padding-top: 3%;
}

.containerJobsSectionContent {
  width: 60%;
  min-height: 60vh;
  height: auto;
  padding-left: 5%;
  margin-right: 3%;
}

.jobCard {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 24px 24px 24px 20px;
  background-color: white;
  transition: box-shadow 0.3s ease;
  width: 92%;
  margin-top: 6px;
  justify-content: space-between;
}
.jobCard:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.job {
  display: flex;
  gap: 20px;
}

.jobCompanyLogo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.jobInfo {
  display: flex;
  flex-direction: column;
}

.jobTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
}

.jobMeta {
  font-size: 0.9rem;
  color: #555;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.companyName {
  font-weight: 600;
  color: #222;
}

.locationTag {
  background-color: #f0f0f0;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 0.75rem;
}

.jobTags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 10px;
  color: white;
}

.tagPurple {
  background-color: #6b5b95;
}

.tagBlue {
  background-color: #0077cc;
}

.jobTime {
  color: #888;
  white-space: nowrap;
}

.newsletterBox {
  max-width: 50rem;
  max-height: 17rem;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 27px;
  background: #f5effc;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  font-family: Arial, sans-serif;
  border: 1px solid #e2e2e2;
}

.iconContainer {
  width: 48px;
  height: 48px;
  background-color: #dccdec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailTitle {
  font-size: 18px;
  margin-bottom: 8px;
  color: #7f4a94;
}

.description {
  font-size: 14px;
  color: #7f4a94;
  margin-bottom: 16px;
}

.emailInput {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.privacy {
  font-size: 12px;
  color: #7f4a94;
  margin-bottom: 12px;
}

.subscribeButton {
  width: 100%;
  background-color: #8b5cf6;
  color: white;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.subscribeButton:hover {
  background-color: #7c3aed;
}